<!-- partials/experience.html -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center mb-4">Work Experience</h2>
        </div>
    </div>

    <!-- ! Mid-Level Software Engineer -->
    <div class="row mb-2">
        <div class="col-lg-6">
            <!-- * Work Experience Name -->
            <h4 class="text-lg-start text-center">Mid-Level Software Engineer </h4>
            <!-- * Work Experience Company -->
            <p class="text-lg-start text-center fw-lighter fs-5">Animals.AI</p>
        </div>
        <div class="col-lg-6">
            <!-- * Work Location and Date -->
            <p class="text-lg-end text-center">Helsingborg, Sweden | 08/2023 – 04/2024</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <ul>
                <!-- * Work Description -->
                <li>Developed and deployed 30+ advanced Computer Vision models and 50+ image processing algorithms, automating model training and deployment using Google Compute Engine. In Addition to, managing annotation tasks for over 10,000 images.</li>
                <li>Created the entire backend infrastructure using Python Flask in a RESTful API structure, deployed on GCP with Firebase as the database. Leveraged automated Docker containers for CI/CD, reducing deployment time from weeks to minutes.</li>
                <li>Designed and implemented an automated camera system with up to 12 cameras for AI scripts and IoT solutions, while collaborating with a network of 5+ Nvidia Jetson devices, leveraging RTSP technologies.</li>
                <li>Managed backend infrastructure on Google Cloud Platform, overseeing Firebase and Cloud Run for
                    storage systems.</li>
                <li>• Mentored interns in API development, backend engineering, and computer vision techniques, acquiring extensive knowledge of agriculture practices through IoT work, farm visits, and collaboration with researchers and engineers.</li>
            </ul>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <!-- Horizontal Line -->
            <hr class="w-25 my-4 m-auto">
        </div>
    </div>

    <!-- ! Internship in IT (1) -->
    <div class="row mb-2">
        <div class="col-lg-6">
            <!-- * Work Experience Name -->
            <h4 class="text-lg-start text-center">Internship in IT</h4>
            <!-- * Work Experience Company -->
            <p class="text-lg-start text-center fw-lighter fs-5">Toros University</p>
        </div>
        <div class="col-lg-6">
            <!-- * Work Location and Date -->
            <p class="text-lg-end text-center">Mersin, Turkey | 03/2023 – 07/2023 and 07/2022 – 09/2022</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <ul>
                <!-- * Work Description -->
                <li>Provided comprehensive support for professors, staff, security, and students, addressing issues ranging from Windows and Office problems to printer, internet, networking, and VOIP device troubleshooting, ensuring seamless operations.</li>
                <li>Maintained the IT infrastructure and fixed approximately 50% of the laboratory's computers, preparing them for use by thousands of students.</li>
                <li>Gained hands-on experience in system administration tasks such as server maintenance and user account management, and network engineering tasks such as configuring routers and switches.</li>
            </ul>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-12">
            <!-- Horizontal Line -->
            <hr class="w-25 my-4 m-auto">
        </div>
    </div>

    <!-- ! Freelance -->
    <div class="row mb-2">
        <div class="col-lg-6">
            <!-- * Work Experience Name -->
            <h4 class="text-lg-start text-center">Freelance</h4>
            <!-- * Work Experience Company -->
            <p class="text-lg-start text-center fw-lighter fs-5">Full Stack Web Development</p>
        </div>
        <div class="col-lg-6">
            <!-- * Work Location and Date -->
            <p class="text-lg-end text-center">Mersin, Turkey | 09/2021 – 09/2022</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <ul>
                <!-- * Work Description -->
                <li>Successfully managed independent projects, meeting deadlines, and delivering within budget constraints, while utilizing a diverse skill set including HTML, CSS, JavaScript, PHP, Laravel, and Wix with Velo JS.</li>
                <li>Actively contributed as a member of the administrative board in the Computer Sciences Community.</li>
            </ul>
        </div>
    </div>
    <!-- Horizontal Line -->
    <hr class="w-50 my-5 m-auto">
</div>