<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center mb-4">Recommendations</h2>
        </div>
    </div>

    <!-- ! Recommendation Section -->
    <div class="row mb-2">
        <div class="col-lg-6">
            <!-- * Recommendation Title -->
            <h4 class="text-lg-start text-center">Animals.ai</h4>
            <!-- * Recommendation Source -->
            <p class="text-lg-start text-center fw-lighter fs-5">By: Yuan Xiong, CTO of Animals.ai</p>
            <!-- * Recommendation Link -->
            <p class="text-lg-start text-center"><a href="" class="recommendation-link">View Letter</a></p>
        </div>
        <div class="col-lg-6">
            <!-- Recommendation Date -->
            <p class="text-lg-end text-center">April 2024</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <ul>
                <!-- Recommendation Description -->
                <li>A brief description of the recommendation.</li>
                <li>Another point about the recommendation.</li>
                <li>Additional details if necessary.</li>
            </ul>
        </div>
    </div>
    <!-- Horizontal Line -->
    <hr class="w-25 my-4 m-auto">
</div>