<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center mb-4">Skills</h2>
            <ul>
                <li><strong>Programming Languages:</strong> C#, Python, SQL, .NET, HTML, CSS, JavaScript, PHP</li>
                <li><strong>Frameworks:</strong> ASP.NET, Flask, Django, WordPress, Wix, Laravel, WPF, .NET MAUI, Tkinter</li>
                <li><strong>Databases:</strong> MySQL, MSSQL, SQLite, Firebase</li>
                <li><strong>AI Frameworks:</strong> PyTorch, OpenCV, YOLO, TensorFlow, Scikit</li>
                <li><strong>Cloud & DevOps:</strong> Google Cloud Platform (GCP), Git, GitHub, Docker</li>
                <li><strong>Languages:</strong> English (C2), Arabic (Native), Turkish (B2)</li>
                <li><strong>Soft Skills:</strong> Problem Solving, Teamwork, Attention to Detail, Leadership</li>
            </ul>
        </div>
    </div>
</div>