<!-- partials/skills.html -->

<!-- ! Header 1 -->
<!-- * Header 2 -->
<!-- ? Header 3 -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center mb-4">Skills</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Skills</th>
                            <th>Advanced</th>
                            <th>Intermediate</th>
                            <th>Novice</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Programming Languages</td>
                            <td>C#, Python, SQL, .NET</td>
                            <td>Java, PHP, HTML, CSS, JavaScript, XAML</td>
                            <td>C++</td>
                        </tr>
                        <tr>
                            <td>Frontend Frameworks</td>
                            <td>Bootstrap</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Backend Frameworks</td>
                            <td>Flask, Django</td>
                            <td>ASP.NET, Entity Framework, Laravel</td>
                            <td>Node.js, Spring Boot</td>
                        </tr>
                        <tr>
                            <td>Desktop Frameworks</td>
                            <td>WPF, Tkinter</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Database</td>
                            <td>MySQL, MSSQL, SQLite, Firebase</td>
                            <td></td>
                            <td>Postgres</td>
                        </tr>
                        <tr>
                            <td>Mobile Frameworks</td>
                            <td></td>
                            <td></td>
                            <td>Android</td>
                        </tr>
                        <tr>
                            <td>AI Frameworks</td>
                            <td>PyTorch, OpenCV, Ultralytics, Supervision, YOLO</td>
                            <td>TensorFlow, Keras</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Python Libraries</td>
                            <td>NumPy, google.cloud</td>
                            <td>Pandas</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Cloud Services</td>
                            <td>Google Cloud Platform (GCP)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>DevOps Tools</td>
                            <td>Git, GitHub, version control system</td>
                            <td>Docker</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Applications and Tools</td>
                            <td>VSCode, Visual Studio, PyCharm, Wix, Fl Studio, Microsoft 365 (Office), Microsoft Word, Excel, Power Point</td>
                            <td>Postman, SSH, IntelliJ</td>
                            <td>CMake, VM, Android Studio</td>
                        </tr>
                        <tr>
                            <td>Fields and Technologies</td>
                            <td>Backend, Machine Learning, Deep Learning, Cloud Computing, Database, RESTful Apis, MVC, Razor, Blazor, JSON, YAML, ENV</td>
                            <td>Version Control, DevOps, Natural Language Processing, Artificial Intelligence, Web Development, Full-Stack</td>
                            <td>Mobile Development, Game Industry</td>
                        </tr>
                        <tr>
                            <td>Languages</td>
                            <td>English (C2), Arabic (Native)</td>
                            <td>Turkish (B2)</td>
                            <td>Swedish (A1), French (A1)</td>
                        </tr>
                        <tr>
                            <td>Soft Skills</td>
                            <td>Quick Learner, Attention to Detail, Problem Solving, Teamwork, Fast typer, Mentorship, Leadership, Technical Support</td>
                            <td></td>
                            <td>Creativity</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Horizontal Line -->
    <hr class="w-50 my-5 m-auto">
</div>